<div class="MyGap">
  <p class="is-medium has-text-info">Your question was:</p>
  <p class="title is-4 has-text-danger">{{ appValues.question }}</p>
</div>

<div class="MyGap">
  <p class="is-medium has-text-info">Your Answer is:</p>
  <p class="title is-4 has-text-success">{{ appValues.answer }}</p>
</div>

<button
  (click)="doItAgain()"
  class="button is-warning is-light is-fullwidth MyGap"
  type="button"
>
  Don't like it.
</button>
<button
  (click)="onStartOver()"
  class="button is-warning is-fullwidth MyGap"
  type="button"
>
  Start over
</button>
